<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Text Light</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-tab.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="" class="brand">Text Light</a>
				<div class="nav-collapse">
				    <ul class="nav">
				        <li class="active">
				            <a href="#">Home</a>
				        </li>
				        <li>
				            <a href="#">About</a>
				        </li>
				    </ul>
				</div> <!-- /.nav-collapse -->
			</div> <!-- /.container -->
		</div> <!--/.navbar-inner -->
	</div> <!-- /.navbar -->

	<div class="container">
		{% block content %}
		{% endblock %}
		<footer>
		</footer>
	</div> <!-- /.container -->
</body>
</html>
