{% extends 'base.html' %}

{% block content %}
	<div class="hero-unit">
		<h1>Hey there</h1>
		<p>Lets upload some stuff</p>
	</div>
	<div class="row">
		<div class="span12">
			<h2>
				
			</h2>
			<form action="/submit/" id="upload" method="post">
				<div class="well">
				{% csrf_token %}
					<textarea id="text-input" required="true" autofocus="true" maxlength="5000" name="textarea"></textarea>
					{% if field.errors %}
						<span>{% for error in field.errors %}{{ error }}<br> {% endfor %}</span>
					{% endif %}
					<button id="submit-text" class="btn btn-primary"><i class="icon-share"></i>Submit</button>
				</div>
			</form>
			<div id="status"></div>
		</div>
	</div> <!-- /.row -->
{% endblock %}
