{% extends 'base.html' %}

{% block content %}
	<div class="hero-unit">
		<h1>Hey there</h1>
		<p>Lets upload some stuff</p>
	</div>
	<div class="row">
		<div class="span6">
			<h2>
				First, upload a PST
			</h2>
			<form action="/upload/" id="upload" method="post" enctype="multipart/form-data">
				<div class="well">
				{% csrf_token %}
					<input id="file-select" type="file" name="file" value="" />
					{% if field.errors %}
						<span>{% for error in field.errors %}{{ error }}<br> {% endfor %}</span>
					{% endif %}
					<div id="loading"><span>uploading..</span></div>
					<button id="submit" class="btn btn-success pull-right"><i class="icon-upload"></i>Upload</button>
					<div id="file-drag">Or drop files here</div>
				</div>
			</form>
			<div id="status"></div>
		</div>
		<div class="span6">
			<h2>
				Then, select words or add your own
			</h2>
			<div class="row">
				<div class="span3 word-chooser">
					<ul class="unstyled">
					{% for word in words %}
						<li>{{ word }}</li>	
					{% endfor %}
					</ul>
				</div>
				<div class="span3">
					<textarea wrap="hard"></textarea>
				</div>
				<button id="filter-btn" class="btn btn-primary pull-right"><i class="icon-share"></i>Filter</button>
			</div>
		</div>
	</div> <!-- /.row -->
{% endblock %}
